{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="detailed_view_container">
    <h2>{{ video.title }}</h2>
    <p>{{ video.description }}</p>
    {% if video.is_streamable %}
        <p>Currently using: DASH</p>
        <div data-shaka-player-container>
            <video id="video" data-shaka-player data-mpd="{{ video.manifest_url }}"></video>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/4.7.11/shaka-player.ui.min.js"></script>
        <script src="{% static 'js/shaka-player.js' %}"></script>
    {% else %}
        <p>Currently using: original video</p>
        <video controls preload="metadata" width="100%">
            <source src="{{ video.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% endif %}
        <button id="run-emulation" data-video-id="{{ video.id }}" data-csrf-token="{{ csrf_token }}" data-duration="{{ video.duration }}">Run network emulation</button>
</div>
{{ trace_files|json_script:"trace-files" }}
<script src="{% static 'js/emulation.js' %}"></script>
{% endblock %}