:root {
    --primary-bg-color: #121212;
    --secondary-bg-color: #1a1a1a;
    --text-color: #fff;
    --nav-bg: #0c0c0c;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: var(--nav-bg);
}

a {
    text-decoration: none;
    color: var(--text-color);
}